<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>BeginnersBookServlet</display-name>
  <servlet>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/StudentServlet/StudentPortalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentLogin</servlet-name>
    <servlet-class>LoginStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentLogin</servlet-name>
    <url-pattern>/LoginStudentServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/LoginAdminServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentPortal</servlet-name>
    <servlet-class>StudentPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentPortal</servlet-name>
    <url-pattern>/StudentPortalServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentPortal2</servlet-name>
    <servlet-class>StudentPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentPortal2</servlet-name>
    <url-pattern>/LoginStudentServlet/StudentPortalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentPortalApply</servlet-name>
    <servlet-class>StudentPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentPortalApply</servlet-name>
    <url-pattern>/StudentPortalServlet/StudentApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminPortal</servlet-name>
    <servlet-class>AdminPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminPortal</servlet-name>
    <url-pattern>/AdminPortalServlet/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addScholarship</servlet-name>
    <servlet-class>AddScholarshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addScholarship</servlet-name>
    <url-pattern>/AdminPortalServlet/AddScholarshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteScholarship</servlet-name>
    <servlet-class>DeleteScholarshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteScholarship</servlet-name>
    <url-pattern>/AdminPortalServlet/DeleteScholarshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>distributeScholarships</servlet-name>
    <servlet-class>DistributeScholarshipsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>distributeScholarships</servlet-name>
    <url-pattern>/AdminPortalServlet/DistributeScholarshipsServlet</url-pattern>
  </servlet-mapping>
</web-app>